{% extends "accounts/base.html" %} {% block content %}
<div class="container py-5">
  <h1 class="mb-4 text-center">Jobs List {{user}}</h1>

  <!-- Search Bar -->
  {% if user.is_authenticated and user.profile.user_type == "recruiter" %}
  <a href="{% url 'job_create' %}" class="btn btn-primary">Post a Job</a>
  {% endif %}
  <form method="GET" class="d-flex mb-5" role="search">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search jobs by title..."
      name="q"
      value="{{ query }}"
    />
    <button class="btn btn-primary" type="submit">Search</button>
  </form>

  <!-- Job List -->
  <div class="row">
    {% for job in jobs %}
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h5 class="card-title">{{ job.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ job.location }}</h6>
          <p class="card-text">{{ job.description }}</p>
          <p class="card-text"><strong>Salary:</strong> ₹{{ job.salary }}</p>

          <a href="#" class="btn btn-primary">Apply</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
